/* Contenedor principal de experiencia */
#caseExperience {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  flex-direction: column; /* Cambia a columna en pantallas móviles */
  word-wrap: break-word; /* Asegura que el texto largo se ajuste */
  padding: 0 20px;
}

/* Estilo general de la línea de tiempo */
.timeline {
  max-width: 800px; /* Define un ancho máximo */
  width: 100%; /* Asegura que ocupe el 100% del ancho disponible */
  padding: 20px;
  border-radius: 30px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centra horizontalmente */
  word-wrap: break-word; /* Asegura que el texto largo se ajuste */
}

/* Cada ítem de la línea de tiempo */
.timeline-item {
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro de cada item se apilen */
  margin: 20px 0;
  padding-left: 30px;
  width: 100%; /* Asegura que el ancho sea siempre el 100% */
  transition: transform 1s ease;
  transform: scale(1);
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 0em;
  word-wrap: break-word; /* Evita que el texto se corte */
}

/* Estilo del contenido de cada item */
.timeline-content {
  padding-left: 15px; /* Espacio para el texto */
  margin-left: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  word-wrap: break-word; /* Asegura que el texto largo se ajuste */
}

/* Estilo del título de cada experiencia */
h2, h3, h4, p {
  margin: 0.3em;
  word-wrap: break-word; /* Evita que el texto se corte */
}

/* Título de la experiencia */
#titleExperience {
  text-align: center;
  font-size: 5em;
    background-image: linear-gradient(to right, #1214aade, #1214aade, #1214aade, #7e0dc0, #7e0dc0, #7e0dc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  word-wrap: break-word; /* Evita que el título se corte */
}

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
  #caseExperience {
    margin-top: 3em; /* Reduce el margen superior en móviles */
    margin-left: -20px;
  }

  .timeline-item {
    padding-left: 0px; /* Reduce el padding a la izquierda */
    margin-left: -10px;
    width: 100%; /* Ancho completo en móviles */
  }


  #titleExperience {
    font-size: 3.5rem; /* Ajustar el tamaño del título en pantallas pequeñas */
    word-wrap: break-word; /* Evita que el texto del título se corte */
  }
}
