.timeline {
  position: relative;
  padding: 20px 0; 
  background-color: #07060644;
  /* Fondo semitransparente */
  padding: 20px;
  /* Espaciado interno */
  border-radius: 30px;
  /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#caseExperience{
  display: flex;
  /* Utiliza flexbox para el diseño */
  justify-content: center;
  /* Centra el contenido en el eje horizontal */
  margin-top: 5em;
}

.timeline-item {
  align-items: center;
  position: relative;
  margin: 10px 0;
  padding-left: 30px;
  width: 54em;
  transition: transform 1s ease;
  transform: scale(1);
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-bottom: 0em;
}

.timeline-item:hover {
  transform: scale(1.07);
  border-color: #0a1441ea;
  /* Color del borde en hover */
  animation: 3s infinite;
}



.timeline-content {
  border-left: 2px solid #3250d69d;
  /* Línea a la derecha */
  padding-left: 15px;
  /* Espacio para el texto */
  margin-left: 10px;
  margin-bottom: 20px;
}

#location {
  margin-right: 0.5em;
}

h2 {
  margin: 0.3em;
}

h3 {
  margin: 0.3em;
}

h4 {
  margin: 0.3em;
}

h5 {
  margin: 0.3em;
}

p {
  margin: 0.3em;
}

#titleExperience {
  font-size: 2.6rem;
  /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  /* O usa un número como 700 para más grosor */
  margin-bottom: 20px;
  /* Espaciado inferior opcional */
  color: #ffffff;
  /* Color del texto, opcional */
  margin-left: 1em;
}