

/* Estrellas fugaces animadas */
.star-container {
    top: -650px; /* Esto desplaza el inicio 50 píxeles hacia arriba */
    position: relative;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    animation: fall linear infinite;
    /* Desplazar las estrellas 50px hacia arriba para que empiecen más alto */
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }
    100% {
        transform: translateY(calc(100vh + 50px)) translateX(100vw) rotate(360deg);
    }
}
