.blockIconsStack {
    position: relative;
    width: 50em;
    padding: 20px 0;
    border-radius: 2em;
}

#case-info-stack {
    display: flex;
    /* Utiliza flexbox para el diseño */
    justify-content: center;
    /* Centra el contenido en el eje horizontal */
}

#titleStack {
    text-align: center;
    font-size: 80px;
    background-image: linear-gradient(to right, #1214aade, #1214aade, #1214aade, #7e0dc0, #7e0dc0, #7e0dc0); /* Cambia los colores según tus preferencias */
    -webkit-background-clip: text; /* Recorta el fondo al texto */
    -webkit-text-fill-color: transparent; /* Hace que el color del texto sea transparente */
}

.itemStack{
    background-color: rgba(27, 27, 27, 0.514);
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid rgba(182, 177, 177, 0.671);
}


.imgStack {
    height: 120px;
    border-radius: 20px;
}

.pStack {
    text-align: center;
    padding-top: 1em;
}

.blockStack {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos */
}


.itemStack {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid rgba(73, 71, 71, 0.63);
    transition: background 0.1s ease;
    background: transparent; /* Fondo transparente cuando no hay hover */
}

.itemStack:hover {
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(116, 114, 114, 0.692), transparent 60%);
}

