.blockIconsStack {
    position: relative;
    width: 90%; /* Cambiado a un ancho relativo para adaptarse mejor en móviles */
    max-width: 50em; /* Máximo ancho para pantallas grandes */
    padding: 20px 0;
    border-radius: 2em;
    margin: auto; /* Centra el bloque en la pantalla */
}

#case-info-stack {
    display: flex;
    justify-content: center;
    margin-top: 5em; /* Espacio superior ajustado */
    flex-direction: column; /* Asegura que el contenido se apile verticalmente */
}

#titleStack {
    text-align: center;
    font-size: 5vw; /* Cambiado a una unidad relativa para adaptarse mejor en móviles */
    background-image: linear-gradient(to right, #1214aade, #1214aade, #1214aade, #7e0dc0, #7e0dc0, #7e0dc0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.itemStack {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid rgba(73, 71, 71, 0.63);
    transition: background 0.1s ease;
    background: transparent; /* Fondo transparente cuando no hay hover */
}

.imgStack {
    height: 80px; /* Ajustado para móviles */
    border-radius: 20px;
}

.pStack {
    text-align: center;
    padding-top: 0.5em; /* Ajustado para móviles */
}

.blockStack {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Columnas adaptativas */
    gap: 10px; /* Espacio reducido entre elementos */
}

/* Media Queries para mejorar el diseño en móviles */
@media (max-width: 768px) {
    #case-info-stack {
        margin-top: 0em; /* Espacio superior ajustado */
    }

    #titleStack {
        font-size: 6em; /* Ajuste de tamaño de fuente para móviles */
    }

    .imgStack {
        height: 60px; /* Ajuste del tamaño de la imagen para móviles */
    }

    .pStack {
        padding-top: 0.3em; /* Ajuste de padding para móviles */
    }

    .blockStack {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en móviles */
        gap: 5px; /* Espacio entre elementos reducido */
    }
}
