body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.star-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.star {
    position: absolute;
    width: 2px;
    height: 10px;
    background: white;
    opacity: 0.7;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0); /* Comienza en su posición inicial */
    }
    100% {
        transform: translateY(100vh) translateX(0); /* Solo caer hacia abajo */
    }
}
